<!-- Header -->
    <header id="header" class="alt">
        <h1><a href="{{ site.baseurl }}/">Manifesto pela diversidade</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ "/principios" | prepend: site.baseurl }}">Princípios</a></li>
                <li><a href="{{ "/motivacoes" | prepend: site.baseurl }}">Motivações</a></li>
                <li><a href="{{ "/como-apoiar-pessoas" | prepend: site.baseurl }}">Como apoiar a vítima</a></li>
                        <li>
                            <a href="">Outros</a>
                            <ul>
                                <li><a href="{{ "/exemplo-codigo-de-conduta" | prepend: site.baseurl }}">Modelo de CdC</a></li>
                                <li><a href="{{ "/glossario" | prepend: site.baseurl }}">Glossário de termos</a></li>
                            </ul>
                        </li>
                <li><a href="http://bit.ly/assinediversidade" class="button">Assine o manifesto</a></li>
            </ul>
        </nav>
    </header>
