---
layout: default
---

<div class="home">

  <h1 class="page-heading">Manifesto pela Diversidade</h1>

  <p>Acreditamos que a diversidade, em suas diversas expressões, deve ser respeitada e valorizada, e que uma sociedade mais diversa é uma sociedade melhor.</p>
  <p>Queremos viver em um mundo onde as pessoas se sentem seguras para viverem toda a expressão do seu ser, com igualdade de oportunidades, liberdades e direitos.</p>
  <p>Nos comprometemos a não tolerar qualquer incitação ao ódio, desrespeito, injustiça, violência física, verbal ou emocional, linguagem ou conduta ofensivas.</p>
  <p>Nos comprometemos a promover ações que promovam a diversidade.</p>
  <p>Na presença de qualquer dos comportamentos que não toleramos nos comprometemos a tomar ações imediatas para impedir a continuidade da manifestação ofensiva, seguida de acompanhamento que pode resultar em impedimento permanente de acesso ao espaço anteriormente ocupado (seja físico ou virtual), e, caso a ofensa seja criminal, a amparar a pessoa ofendida (caso esta esteja disposta) no encaminhamento legal diante da justiça brasileira.</p>
  <p>Nos comprometemos a criar e seguir códigos de conduta que habilitem a manutenção de um ambiente seguro, conforme descrito neste manifesto.</p>

  <p><a href="{{ "principios" | prepend: site.baseurl }}">Veja aqui</a> os princípios que amparam esse manifesto, e que são parte integrante dele.</p>

  <p>
    Junte-se a nós nesse manifesto:
    <ul>
      <li><a href="{{ "em-desenvolvimento" | prepend: site.baseurl }}">Assine o manifesto online (breve)</a></li>
      <li><a href="{{ "em-desenvolvimento" | prepend: site.baseurl }}">Poste nas suas redes sociais o seu apoio ao manifesto (breve)</a></li>
      <li>Se você está organizando um evento, <a href="{{ "apoio-evento" | prepend: site.baseurl }}">veja como seu evento pode apoiar o manifesto (breve)</a></li>
      <li>Se você está palestrando em um evento, <a href="{{ "exija-do-evento" | prepend: site.baseurl }}">veja o que exigir da organização do evento (breve)</a></li>
      <li>Se você representa uma empresa, <a href="{{ "apoio-empresa" | prepend: site.baseurl }}">veja como a empresa apoiar o manifesto (breve)</a></li>
    </ul>
  </p>

  <p>Se você ou alguém que você conhece sofreu algum tipo de abuso, <a href="{{ "como-apoiar-pessoas" | prepend: site.baseurl }}">veja como apoiar essa pessoa</a> seguindo os princípios deste manifesto.</p>

  <p>Veja aqui um exemplo de <a href="{{ "exemplo-codigo-de-conduta" | prepend: site.baseurl }}">código de conduta</a> que você pode utilizar como base para eventos ou organizações de qualquer tipo.</p>

  <p>Veja <a href="{{ "motivacoes" | prepend: site.baseurl }}">as motivações</a> que nos levaram a criar o manifesto e os motivos para você apoiá-lo.</p>

  <p>Veja o <a href="{{ "glossario" | prepend: site.baseurl }}">glossário de termo</a>.</p>

  {{ content }}

</div>
