---
layout: default
---

<section class="box special">
  <header class="major">
    <a name="acreditamos"></a>
    <h2>Acreditamos que a diversidade, em suas diversas expressões, deve ser respeitada e valorizada, e que uma sociedade mais diversa é uma sociedade melhor.</h2>
    <p>Queremos viver em um mundo onde as pessoas se sentem seguras para viverem toda a expressão do seu ser, com igualdade de oportunidades, liberdades e direitos.<br />
    Nos comprometemos a não tolerar qualquer incitação ao ódio, desrespeito, injustiça, violência física, verbal ou emocional, linguagem ou conduta ofensivas.<br />
    Nos comprometemos a promover ações que promovam a diversidade.<br />
    Na presença de qualquer dos comportamentos que não toleramos nos comprometemos a tomar ações imediatas para impedir a continuidade da manifestação ofensiva, seguida de acompanhamento que pode resultar em impedimento permanente de acesso ao espaço anteriormente ocupado (seja físico ou virtual), e, caso a ofensa seja criminal, a amparar a pessoa ofendida (caso esta esteja disposta) no encaminhamento legal diante da justiça brasileira.<br />
    Nos comprometemos a criar e seguir códigos de conduta que habilitem a manutenção de um ambiente seguro, conforme descrito neste manifesto.<br />
    <a href="{{ "principios" | prepend: site.baseurl }}">Veja aqui</a> os princípios que amparam esse manifesto, e que são parte integrante dele.</p>
  </header>
  <span class="image featured"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></span>
</section>

<section class="box special features">
  <div class="features-row">
    <section>
      <!--
    -->
      <span class="icon major fa-pencil accent2"></span>
      <h3>Assine</h3>
      <p><a href="http://bit.ly/assinediversidade">Assine</a> o manifesto online e demonstre o seu apoio ao manifesto pela diversidade (breve).</p>
    </section>
    <section>
      <span class="icon major fa-calendar accent3"></span>
      <h3>Eventos</h3>
      <p>Se você está organizando um evento, <a href="{{ "apoio-evento" | prepend: site.baseurl }}">veja como seu evento pode apoiar o manifesto</a> (breve).
      Se vai palestrar, <a href="{{ "exija-do-evento" | prepend: site.baseurl }}">veja o que exigir da organização do evento</a> (breve).</p>
    </section>
  </div>
  <div class="features-row">
    <section>
      <span class="icon major fa-share-alt accent4"></span>
      <h3>Divulgue</h3>
      <p><a href="{{ "em-desenvolvimento" | prepend: site.baseurl }}">Poste nas suas redes sociais</a> o seu apoio ao manifesto (breve).</p>
    </section>
    <section>
      <span class="icon major fa-building accent5"></span>
      <h3>Empresas</h3>
      <p>Se você representa uma empresa, <a href="{{ "apoio-empresa" | prepend: site.baseurl }}">veja como a empresa apoiar o manifesto (breve)</a></p>
    </section>
  </div>
</section>

<div class="row">
  <div class="6u">

    <section class="box special">
      <span class="image featured"><img src="{{ site.baseurl }}/assets/images/pic02.jpg" alt="" /></span>
      <h3>Motivações</h3>
      <p>Conheça as motivações que nos levaram a criar o manifesto e os motivos para você apoiá-lo e fazer parte dele.</p>
      <ul class="actions">
        <li><a href="{{ "motivacoes" | prepend: site.baseurl }}" class="button alt">Saiba mais</a></li>
      </ul>
    </section>

  </div>
  <div class="6u">

    <section class="box special">
      <span class="image featured"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt="" /></span>
      <h3>Apoio à vítima</h3>
      <p>Se você ou alguém que você conhece sofreu algum tipo de abuso, veja como apoiar essa pessoa seguindo os princípios deste manifesto.</p>
      <ul class="actions">
        <li><a href="{{ "como-apoiar-pessoas" | prepend: site.baseurl }}" class="button alt">Saiba mais</a></li>
      </ul>
    </section>

  </div>
</div>
